body{
    background-color:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: 30px auto;
    width: 350px;
    height: 580px;
    padding-top: 20px;
}
.image-container{
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
   
}
.image{
    
    border-radius: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
.icon-view{
    position: absolute;
    top: 47%;
    left: 43%;
    text-align: center;
    visibility: hidden;
}
.image-container:hover .image {
    
    cursor: grab;
    opacity: 0.3;
    
  }
  
  .image-container:hover {
    background-color: hsl(178, 100%, 50%);
    
  }
  
.text-container{
    margin: 0 auto;
    width: 300px;
    color: hsl(0, 0%, 100%);
}
.text-container h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: grab;
}
.text-container p{
    font-size: 18px;
    font-weight: 100;

}

.primary-span{
    display: block;
    color: hsl(178, 100%, 50%);
}
.secondary-span{
    float: right;
}
hr{
    opacity: 0.2;
}
.avatar-container{
    display: block;
    width: 300px;
    height: 30px;
    margin-top: 20px;
   
}
.avatar-container p:hover{
    color:hsl(178, 100%, 50%); 
    cursor: grab;
}
.avatar{
    float: left;
}
.avatar-text{
    display: inline;
    padding-left: 20px;
}
span{
    color: hsl(215, 51%, 70%);
}
