body{
    background-color:  hsl(217, 54%, 11%);
}
.container{
    background-color: hsl(216, 50%, 16%);
    margin: 0 auto;
    width: 400px;
    height: 700px;
}
.image-container{
    margin: 0 auto;
    width: 300px;
    height: 250px;
}